<h1 class="items-center w-full py-24 mx-auto text-xl tracking-widest text-center uppercase">
  Elixir Developer Survey Introductory Questions
</h1>
<div class="w-1/2 mx-auto">
  <h3 class="mb-4 text-2xl text-center">Q. <%=@question_1.question %></h3>

  <canvas
    data-chart="<%= Jason.encode!(@data) %>"
    id="myChart"
    width="400"
    height="200"
    phx-hook="Chart"
  ></canvas>
</div>
